{% extends "base.html" %}

{% block title %}Login Page{% endblock %}

{% block content %}
<div class="container">
    <h2>Login</h2>
    <form action="{{ url_for('login') }}" method="post">
        {{ form.hidden_tag() }}

        {{ form.email.label(class="label") }}
        {{ form.email(class="input") }}

        {{ form.password.label(class="label") }}
        {{ form.password(class="input") }}

        {{ form.submit(class="submit") }}
    </form><br>
    <p class="link">
        Don't have an account? 
        <a href="{{ url_for('register') }}">Register here</a>
    </p></div>
{% endblock %}
